@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@800&display=swap');
body{
    font-family:'Plus Jakarta Sans',sans-serif ;
    background-color: #fefefe;
}
/*button*/
.btn{
    border-radius: 8px;
}
.btn-primary,
.btn-outline-secondary{
    padding:12px 20px;
}
.btn-primary{
    background-color: #3155e7;
}
.btn-primary:hover{
    background-color: #2045d6;
}
.btn-outline-secondary{
    border: 1px solid #d3d4d6;
    color: #010101;
}
.btn-outline-secondary:hover{
    background-color: #d3d4d6;
    border: 1px solid #d3d4d6;
    color: #010101;
}
/* Navbar*/
.navbar .btn-outline-secondary{
    border: 1px solid #d3d4d6;
    color: #010101;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 10px;
}
.navbar{
    padding: 12px 0;
    background-color: rgb(95, 180, 180);
}
.nav-link{
    margin-left: 41px;
    font-size: 16px;
    color: #788190;
}
.navbar-nav .nav-link-active{
    font-weight: bold;
    color: #cad9e0;
}


/* section*/
.carousel-inner h5{
    color: rgb(57, 7, 83);
    background-color: #3155e7;
}

.carousel-inner p{
    color: #010101;
    background-color: bisque;
}

/* footer*/
footer{
    height: 30px;
    width: 100vw;
    background-color: #e1e8f8;
}
.B{
    color: black;
    text-align: center;
}

.modal-header{
            background-color: #f7941e;
            color: #fff;
        }
.required::after{
            content:"*";
            color: red;
        }


